@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap');

body{
    margin: 0;
}
main{
    position: relative;
    width: 43%;
    margin: 0 auto;
}
header{
    padding: 8rem 0 8rem 0;
}
h1, h2, h3{
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(10, 10, 10);    
}
h1{
    font-size: 2.7rem;
    line-height: 3.2rem;
    margin: 0;
}
header > h2{
    margin-top: 1rem;
    color: rgb(176, 183, 189);
}
h2{
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 2.8rem 0 0.8rem 0;
     
}
h3{
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2.8rem 0 0.8rem;
    
}
p{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    margin: 1.4rem 0 1.4rem 0;
    overflow-wrap: break-word;
    line-height: 1.58;
    letter-spacing: -0.002rem;
    color: rgb(20, 20, 20);
}
ul{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    line-height: 2.5rem;
    margin: 1.4rem 0 2rem 0;
}
strong{
    font-weight: 800;
}
figure{
    margin: 4rem 0 4rem 0;
}
section img{
    position: relative;
    width: 100%;
}
figcaption{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.315); 

}
footer{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 2.5rem;
    margin: 3rem 0 3rem 0;
}
footer img{
    border-radius: 50%;
    height: 3.5rem;

}
blockquote{
    font-style: italic;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    border-left: 2px solid black;
    margin: 1.4rem 0 1.4rem 0;
    padding: 1rem;
    overflow-wrap: break-word;
    
}
aside{
    border: 1px solid black;
    border-radius: 7px;
    padding: 2rem;
    margin: 2.8rem 0 2.8rem 0;
}
aside h3{
    margin: 0;
}
aside p{
    margin-bottom: 0;
}
@media (max-width:960px){
main{
    width: 83%;
    margin: 0 auto;
}